<div class="com_header_nav">
    <div class="com_header_logo width1200">
        <a href="http://www.wujigang.cn/" class="logo floatL"></a>

        <div class="searchFra floatL">
            <div class="searchType">
                <ul>
                    <li><a href="javascript:;">租赁</a></li>
                    <li class="active"><a href="javascript:;">销售</a></li>
                </ul>
            </div>
            <div class="search">
                <input type="text" class="searchBox" name="searchBox" placeholder="请输入关键字查询" value="">
                <input type="button" class="searchBtn" value="搜索">
                <i class="sprite sprite-search searchInput"></i>
            </div>
        </div>
        <div class="header_cart">
            <i class="sprite blue-cart marginL20 marginT10"></i>
            <a href="http://shop.wujigang.cn/cart/list" target="_blank"><span>我的购物车</span></a>
            <i class="cart_num">0</i>
        </div>
    </div>
</div>
<%= topMenu %>
<div class="index_banner_box">
    <div class="index_banner_slides js_slides">
        <div class="slides_container js_slidesContainer">
            <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
                <div class="banner1">
                    <a href="javascript:;" target="_blank"></a>
                </div>
            </div>

        </div>
        <ul class="slides_pagination js_pagination">
            <li class="slides_pagination_item"><a href="javascript:;" class="active"></a></li>
        </ul>

    </div>
</div>
<div class="index_show_box">
    <div class="show_title">
        <span class="title">租赁专区</span>
        <a class="enter" href="#">进入租赁专区<i class="sprite sprite-arrowRight4"></i></a>
    </div>
    <div class="show_content">
        <div class="show_cell">
            <div class="show_banner1">
                <div class="show_inner">
                    <h2>
                        <a href="#">贝雷</a>
                    </h2>
                    <ul>
                        <li><a href="#">贝雷片</a></li>
                        <li><a href="#">型钢</a></li>
                    </ul>
                    <div class="line"></div>
                    <div class="tips">
                        <ul>
                            <li class="red">
                                <span>品种齐全</span>
                            </li>
                            <li class="green">
                                <span>保证质量</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="show_list">
                <ul>
                    <li>
                        <a href="#">
                            <img src="<%= goods1 %>">
                            <p><span>贝雷片</span><span>1.5*1.5</span></p>
                            <p class="price"><span class="textRed">1.68</span><span class="textBlack2 fontSize12">元/天/片</span></p>
                        </a>
                    </li>
                    <li>
                        <img src="<%= goods2 %>">
                        <p><span>工字钢</span><span>Q235B</span><span>6-8m</span></p>
                        <p class="price"><span class="textRed">1.68</span><span class="textBlack2 fontSize12">元/天/根</span></p>
                    </li>
                    <li>
                        <img src="<%= goods3 %>">
                        <p><span>角钢</span><span>63*5</span><span>8-10m</span></p>
                        <p class="price"><span class="textRed">1.68</span><span class="textBlack2 fontSize12">元/天/根</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="show_cell">
            <div class="show_banner2"></div>
            <div class="show_list">
                <ul>
                    <li>
                        <a href="#">
                            <img src="<%= goods1 %>">
                            <p><span>贝雷片</span><span>1.5*1.5</span></p>
                            <p class="price"><span class="textRed">1.68</span><span class="textBlack2 fontSize12">元/天/片</span></p>
                        </a>
                    </li>
                    <li>
                        <img src="<%= goods2 %>">
                        <p><span>工字钢</span><span>Q235B</span><span>6-8m</span></p>
                        <p class="price"><span class="textRed">1.68</span><span class="textBlack2 fontSize12">元/天/根</span></p>
                    </li>
                    <li>
                        <img src="<%= goods3 %>">
                        <p><span>角钢</span><span>63*5</span><span>8-10m</span></p>
                        <p class="price"><span class="textRed">1.68</span><span class="textBlack2 fontSize12">元/天/根</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="show_cell">
            <div class="show_banner3"></div>
            <div class="show_list">
                <ul>
                    <li>
                        <a href="#">
                            <img src="<%= goods1 %>">
                            <p><span>贝雷片</span><span>1.5*1.5</span></p>
                            <p class="price"><span class="textRed">1.68</span><span class="textBlack2 fontSize12">元/天/片</span></p>
                        </a>
                    </li>
                    <li>
                        <img src="<%= goods2 %>">
                        <p><span>工字钢</span><span>Q235B</span><span>6-8m</span></p>
                        <p class="price"><span class="textRed">1.68</span><span class="textBlack2 fontSize12">元/天/根</span></p>
                    </li>
                    <li>
                        <img src="<%= goods3 %>">
                        <p><span>角钢</span><span>63*5</span><span>8-10m</span></p>
                        <p class="price"><span class="textRed">1.68</span><span class="textBlack2 fontSize12">元/天/根</span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="material_content">
    <%= list %>
    <%= pageNav %>
</div>